.menu-slider-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
}

.menu-slider a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 16px;
}

.menu-card {
    min-width: 180px;
    background: #f9f9f9;
    border-radius: 15px;
    text-align: center;
    padding: 25px 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.menu-card:hover {
    background-color: #ffeae6;
    transform: translateY(-3px);
}

.menu-card i {
    font-size: 36px;
    margin-bottom: 10px;
    color: #c0392b;
}
