/* ========= GLOBAL RESET ========= */

html,
body {
    height: 100%;
}
body {
    background: #f4f6f9;
    display: flex;
    flex-direction: column;
    font-family: poppins, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

/* ========= LOGIN PAGE ========= */
.login-card {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.login-card h4 {
    font-weight: 700;
}
.form-control:focus {
    box-shadow: none;
    border-color: #dc3545;
}
.btn-danger {
    background-color: #dc3545;
    border: none;
}
.btn-danger:hover {
    background-color: #b02a37;
}

/* ========= HOMEPAGE MENU: ROW STYLE ========= */
.menu-row {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 700px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.6s ease forwards;
}

.menu-row:hover {
    background-color: #fef4f4;
    transform: translateY(-4px);
}

.icon-top {
    font-size: 40px;
    color: #c0392b;
}

.divider-vert {
    width: 2px;
    height: 60px;
    background-color: #ddd;
    margin: 0 15px;
}

.menu-left {
    min-width: 100px;
}

.menu-right {
    flex: 1;
}

/* ========= ANIMASI ========= */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.delay-0 {
    animation-delay: 0.2s;
}
.delay-1 {
    animation-delay: 0.5s;
}
.delay-2 {
    animation-delay: 0.8s;
}
.container {
    flex: 1;
}
